@use "sass:math";
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1460;
// x2
$containerPadding: 15;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding + $containerPadding;

@import './templates/mixins';

@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

[class*=__container] {
    max-width: $containerWidth + px;
    margin: 0 auto;
    padding-right: $containerPadding + px;
    padding-left: $containerPadding + px;
}

body {
    font-family: 'Comfortaa';
}