@use "sass:math";
@import './templates/mixins';
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1460;
// x2
$containerPadding: 15;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding + $containerPadding;

$mainNeutral: #FFFBF8;
$main: #042D1E;


[class*=__container] {
    max-width: $containerWidth + px;
    margin: 0 auto;
    padding-right: $containerPadding + px;
    padding-left: $containerPadding + px;
}

body {
    font-family: 'Comfortaa';
}

.heading-1 {
    //styleName: Заголовок 1;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

.button {
    padding: 25px 50px;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $mainNeutral;
    border: 1.5px solid $mainNeutral;
    border-radius: 5px;
    transition: color 0.3s ease;

    &-dark{
        color: $main;
        background-color: transparent;
        border-color: $main;
    }

    &:hover {
        background-color: $mainNeutral;
        color: $main;
    }
}