.hero__circle{
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    aspect-ratio: 1;
    border: 2px solid rgba(81, 191, 255, 0.25);
    border-radius: 50%;
}

.hero__circle-inner{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &-1{
        transform:  rotate(45deg);
        & img{
            transform: translateX(-50%) rotate(-45deg);
        }
        // animation: hero__circle-inner-1 15s linear infinite;

        // & img{
        //     animation: hero__circle-inner-1-img 15s linear infinite;
        // }
    }
    &-2{
        transform:  rotate(135deg);
        & img{
            transform: translateX(-50%) rotate(-135deg);
        }

        // animation: hero__circle-inner-2 15s linear infinite;

        // & img{
        //     animation: hero__circle-inner-2-img 15s linear infinite;
        // }
    }
    &-3{
        transform:  rotate(200deg);
        & img{
            transform: translateX(-50%) rotate(-200deg);
        }

        // animation: hero__circle-inner-1 20s linear infinite;

        // & img{
        //     animation: hero__circle-inner-1-img 20s linear infinite;
        // }
    }
    &-4{
        transform:  rotate(330deg);
        & img{
            transform: translateX(-50%) rotate(-330deg);
        }
        // animation: hero__circle-inner-2 20s linear infinite;

        // & img{
        //     animation: hero__circle-inner-2-img 20s linear infinite;
        // }
    }
    &-5{
        transform:  rotate(30deg);
        & img{
            transform: translateX(-50%) rotate(-30deg);
        }
    }
    &-6{
        transform:  rotate(230deg);
        & img{
            transform: translateX(-50%) rotate(-230deg);
        }
    }
    &-7{
        transform:  rotate(315deg);
        & img{
            transform: translateX(-50%) rotate(-315deg);
        }
    }
    &-8{
        transform:  rotate(345deg);
        & img{
            transform: translateX(-50%) rotate(-345deg);
        }
    }
}

// @keyframes hero__circle-inner {
//     0%{
//         transform: rotate(0);
//     }
//     100%{
//         transform: rotate(360deg);
//     }
// }
// @keyframes hero__circle-inner-img {
//     0%{
//         transform: rotate(0);
//     }
//     100%{
//         transform: rotate(-360deg);
//     }
// }



@keyframes hero__circle-inner-1 {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform:  rotate(390deg);
    }
}
@keyframes hero__circle-inner-1-img {
    0%{
        transform: translateX(-50%) rotate(-30deg);
    }
    100%{
        transform: translateX(-50%) rotate(-390deg);
    }
}

@keyframes hero__circle-inner-2 {
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform:  rotate(270deg);
    }
}
@keyframes hero__circle-inner-2-img {
    0%{
        transform: translateX(-50%) rotate(90deg);
    }
    100%{
        transform: translateX(-50%) rotate(-270deg);
    }
}

@keyframes hero__circle-inner-3 {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform:  rotate(390deg);
    }
}
@keyframes hero__circle-inner-3-img {
    0%{
        transform: translateX(-50%) rotate(-30deg);
    }
    100%{
        transform: translateX(-50%) rotate(-390deg);
    }
}

@keyframes hero__circle-inner-4 {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform:  rotate(390deg);
    }
}

@keyframes hero__circle-inner-4-img {
    0%{
        transform: translateX(-50%) rotate(-30deg);
    }
    100%{
        transform: translateX(-50%) rotate(-390deg);
    }
}